@font-face {
  src: url("Poppins/Poppins-Black.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 950;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 950;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-Black.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: black;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: black;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-Bold.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: bold;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 800;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-Light.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: light;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: light;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-Medium.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: medium;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: medium;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-Thin.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 100;
}

@font-face {
  src: url("Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
}

@font-face {
  src: url("Poppins/Poppins-Regular.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: normal;
}

@font-face {
  src: url("Poppins/Poppins-Italic.ttf") format("truetype");
  font-family: "Poppins";
  font-weight: normal;
  font-style: italic;
}